/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles */
*{
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
  margin-bottom: 30px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 30px;
}


/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}


/* banner styles */
.banner {
  max-width: 1440px;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 30px;
  width: 100%;
}

/* main styles */
main {
  max-width: 1140px;
  padding: 50px 100px;
  margin: 0px auto;
}


/* teams style */
.teams-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-img-container img {
  width: 100%;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}

.section-title .Quick-list {
  color: #727272;
  font-weight: 500;
}
.section-title .text-feature {
  color: #ff900e;
  font-weight: 700;
}


/* freature section style */
.feature {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 200px;
}
.feature .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature .feature-card-content{
    width: 85%;
}
.feature-img img {
  width: 100%;
  height: 100%;
 
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 300px;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
  left: -80px;
}
.ten-years-badge h2{
    margin: 0;
    font-size: 4rem;
}
.ten-years-badge p{
    font-size: 1.5rem;
}
.feature-card {
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}


/* facts section */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
.facts-card-container .card-starts {
  font-size: 2.5rem;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img {
  width: 165px;
  height: 50px;
}


/* footer section styles */
footer{
    background-color: #FFF4E7;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding: 30px;
    color: #424242;
}


/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .feature,
  .teams-container,
  .team-img-container {
    grid-template-columns: 1fr;
  }
  main {
    padding: 0;
  }
  .feature,
  .teams-content,
  .teams-container,
  .facts {
    padding-left: 20px;
    padding-right: 20px;
  }
  .feature{
    margin-top: 0;
  }
.feature .feature-card-content {
    width: 100%;
}
  .ten-years-badge{
   position: static;
  }
  .facts-card-container {
    gap: 20px;
  }
  footer{
    padding: 10px;
  }
}



/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .sponsors-img-container {
    flex-direction: column;
  }
  .feature,
  .teams-container {
    grid-template-columns: 1fr;
  }
  .feature{
    margin-top: 0px;
    margin-bottom: 150px;
  }
  .feature .feature-card-content {
    width: 100%;
}
  .teams-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 10px;
  }
}
